body {
  background-color: #1a1a1a;
  color: #fff; /* Default text color for most elements */
}

/* Heading Text */
h2 {
  color: #fff; /* Heading text color */
}

.name {
  color: #0e0000; /* Heading text color */
}

/* Bio Section */
.bio-section {
  background-color: #333;
}

/* Skill Cards */
.skill {
  background-color: #333;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.1);
  color: #fff; /* Text color for skills */
}

/* Skill Description Text */
.skill-description {
  color: #ccc; /* Text color for skill descriptions */
}

/* Project Boxes */
.project-box {
  background-color: #333;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
  color: #fff; /* Text color for project boxes */
}

.project-box h3 {
  color: #fff; /* Text color for project descriptions */
}

/* Project Description Text */
.project-box p {
  color: #ccc; /* Text color for project descriptions */
}

.project-box:hover {
  background-color: #1a1a1a;
}

/* Dark Mode Toggle Button */
#dark-mode-button {
  background-color: #fff;
  color: #333;
}

#dark-mode-button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 1000; /* Ensure the button appears above other content */
}

/* Style the Font Awesome icon */
#dark-mode-button i {
  font-size: 24px;
}
