body {
  background-color: #1a1a1a;
  color: #fff;
}

h2 {
  color: #fff;
}

.name {
  color: #0e0000;
}

.bio-section {
  background-color: #333;
}

.skill {
  background-color: #333;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.1);
  color: #fff;
}

.skill-description {
  color: #ccc;
}

.project-box {
  background-color: #333;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
  color: #fff;
}

.project-box h3 {
  color: #fff;
}

.project-box p {
  color: #ccc;
}

.project-box:hover {
  background-color: #1a1a1a;
}

#dark-mode-button {
  background-color: #fff;
  color: #333;
}

#dark-mode-button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

#dark-mode-button i {
  font-size: 24px;
}
